/**
 * @name Redesign Discord
 * @description Discord, redesigned 
 * @author Berzec
 * @version 3.0.00.beta2
 *
 * @website https://github.com/Berzec
 * @invite 5W2kGk6Ku2
*/


/*------------------------------------------------------------
CURRENT CHANGELOG FOR VERSION 3

code revamp 

------------------------------------------------------------
TO DO LIST FOR VERSION 3

light mode

------------------------------------------------------------*/



/* roots and variables, change if you wanna */
:root {
	/* font, dont change unless you wanna */
	--font: 'gg sans';

	/* the original, holy, reference blue */
  	--original-blue: rgba(86, 128, 212, 0.8);

	/* amount of spacing and padding */
	--spacing: 15px;

  	/* round corner standard */ 
	--radius: 15px;
	--radius-medium: 8px;
	--radius-small: 5px;
	--circle: 100%;

	/* color of links */
	--accent-1: #5680d4;
	/* color of unread dividers and some indicators */
	--accent-2: #5680d4;
	/* color of accented buttons */
	--accent-3: rgba(255, 255, 255,0.1);
	/* color of accented buttons when hovered */
	--accent-4: rgba(255, 255, 255,0.2);
	/* color of accented buttons when clicked */
	--accent-5: rgba(255, 255, 255,0.2);
	/* color of mentions and messages that mention you */
	--mention: rgba(100, 150, 250, 0.1);
	/* color of replying message */
	--reply: rgba(150, 175, 255, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: rgba(100, 150, 250, 0.2);
  	/* color of specific buttons */
  	--accent-x: rgba(86, 128, 212, 0.8);

	/* color of bright text */
	--text-light: #e0e0e0;
	/* color of icon buttons and channels */
	--text-lightgrey: rgba(200, 200, 200, 0.9);
	/* color of muted channels/chats and timestamps */
	--text-grey: rgba(150, 150, 150, 0.9);
	/* color of text on bright background */
	--text-dark: rgba(30, 50, 100, 0.9);

	/* color of dark buttons when clicked */
	--bg-1: rgba(34, 38, 46, 1);
	/* color of dark buttons */
	--bg-2: rgba(34, 38, 46, 1);
	/* background color bottom (dark) */
	--bg-3: #131313;
	/* background color top (light) */
	--bg-4: #1a1a1a;
	/* background color top top (lighter) */
	--bg-5: #252525;
	/* color of channels and icon buttons when hovered */
	--hover: rgba(40, 40, 40, 0.9);
	/* color of channels and icon buttons when clicked or selected */
	--active: rgba(100, 150, 250, 0.1);
	/* color of messages when hovered */
	--message-hover: rgba(255, 255, 255, 0.06);
	/* color of replying message when hovered */
	--reply-hover: rgba(100, 150, 250, 0.2);
	/* color of switches when clicked */
	--active-switch: rgba(86, 128, 212, 0.8);

	/* window control stuff */
	--titlebar-height: calc(var(--spacing) + 14px);

	--window-title-bar: var(--titlebar-height);

	--window-min: #ffbd44;
	--window-max: #00ca4e;
	--window-close: #ff605c;

	/* no idea what this is but you need it */
	--default-animation: cubic-bezier(0.4,0,0.2,1);
	--default-time: 250ms;
	--window-button: hsl(0,0%,100%,0.1);
	--window-button-inactive: hsl(0,0%,100%,0.05);

	/* DISCORD VARIABLES */

	--scrollbar-auto-thumb: var(--bg-5);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-5);
	--scrollbar-thin-track: transparent;

	--green-430: var(--original-blue);
}


/* CORNER ROUNDING */

.panels_a4d4d9, .container_b2ca13 /* account and settings at bottom */,
.chat_a7d72e /* general chat area, all */,
.chatContent_a7d72e /* actual chat */,
.container_c2739c /* friends */,
.applicationStore_cecc86 /* nitro */,
.privateChannels_f0963d /* dm list */, 
.container_ee69e0 /* server channel list */,
.animatedContainer_fd6364 /* server channel list banner */,
.panel_c69a7b /* dm user panel */, 
.wrapper_fea3ef /* servers list */, 
.title_a7d72e /* top header chat */,
.wrapper_faf5ab /* follow a channel */,
.container_cbd271 /* server member list */,
.peopleListItem_d51464 /* friends list */,
.container_a6d69a /* forums */,
.scrollableContainer_bdf0de.themedBackground_bdf0de, .channelTextArea_a7d72e.channelTextArea_bdf0de /* chat text field */,
.button_df39bd /* app and command launcher next to chat text field */,
.searchBar_a46bef /* search bar right */,
.searchBarComponent_f0963d /* search bar left */,
.inner_c18ec9, .searchBar_e0840f /* search bar friends */,
.channel_c91bad, .listRow_d2d6cb, .link_d8bfb3 /* channels and dm links */, 
.searchResultsWrap_c2b47d /* search results */,
.item_a0 /* search results new old relevant */,
.searchResult_ddc613 /* search results messages */,
.itemCard_f02fcf /* embeds and cards */ {
    border-radius: var(--radius) !important;
}





/* SPACING AND MARGINS */
.sidebar_a4d4d9 /* sidebar */ {
    margin: 0 var(--spacing) var(--spacing) var(--spacing);
}
.wrapper_fea3ef /* servers */ {
    margin: 0 0 var(--spacing) var(--spacing);
}
.content_a7d72e /* chat and user profile */ {
    margin: var(--spacing) var(--spacing) var(--spacing) 0;
}
.container_c2739c /* friends */,
.applicationStore_cecc86 /* nitro */  {
	margin: 0 var(--spacing) var(--spacing) 0;
}
.container_c2739c .container_fc4f04.themed_fc4f04 /* fix friends header padding issue */,
.subtitleContainer_a7d72e .container_fc4f04.themed_fc4f04 /* fix chat header padding issue */ {
	padding: 8px;
}
.container_fc4f04.themed_fc4f04 /* message requests header */ {
	padding-right: calc(var(--spacing) + 8px);
}
.subtitleContainer_a7d72e /* top header chat */ {
    margin-right: var(--spacing);
}
.sidebar_a4d4d9, .content_a7d72e /* add sidebar and chat gaps */ {
    gap: var(--spacing);
}


.scroller_fea3ef /* go to dm button spacing fix */ {
    margin-top: 7px;
}
.footer_d71945 /* discover button spacing fix */ {
    margin-bottom: 3px;
}

/* chat text input */
.form_a7d72e .channelTextArea_a7d72e {
	position: sticky;
	border-top: var(--bg-4) 10px;
	margin-bottom: var(--spacing);
	width: 100%;
	box-sizing: border-box;
	z-index: 100;
}
.form_a7d72e {
	padding-top: 9px;
}
.form_a7d72e::before{
	display: none;
	padding: none;
}
.channelAppLauncher_df39bd {
	margin-bottom: var(--spacing);
}








/* COLORS */

/* background color bottom */
.base_a4d4d9, 
.container_a4d4d9, 
.content_a7d72e, 
.chat_a7d72e, 
.sidebar_a4d4d9,
.typeWindows_a934d8,
.container_c2739c, .container_fc4f04, .container_bf550a,
.scroller_a8b566 {
    background-color: var(--bg-3) !important;
}

/* background color top */
.panel_c69a7b,
.title_a7d72e,
.chatContent_a7d72e,
.privateChannels_f0963d,
.scroller_c47fa9,
.container_b2ca13,
.container_ee69e0,
.members_cbd271,
.itemsContainer_fea3ef, 
.footer_d71945,
.container_a6d69a,
.searchResultsWrap_c2b47d, .searchHeader_b7c924,
.itemCard_f02fcf {
    background-color: var(--bg-4) !important;
}
/* background color more top */
.scrollableContainer_bdf0de,
.button_df39bd,
.section_d8eba3,
.searchBar_a46bef, .searchBarComponent_f0963d, .inner_c18ec9 {
	background-color: var(--bg-5) !important;
}


/* color branding */
.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_f90abb.selected_f90abb .childWrapper_f90abb /* go to dm and other things idk i just saw these classes had discord brand colors */ {
    background-color: var(--original-blue);
}
.fixedDiscoveryIcon_fea3ef.selected_db6521,
.circleIcon_db6521 /* discover button */ {
    color: var(--original-blue);
}
.circleIconButton_db6521.selected_db6521{
    background-color: var(--accent-5);
}








/* TITLEBAR */

.typeWindows_a934d8 {
	margin-top: 0;
	height: var(--titlebar-height);
}
.wordmarkWindows_a934d8.wordmark_a934d8 {
	width: auto;
	height: var(--titlebar-height);
	line-height: var(--titlebar-height);
	padding: 0 0 0 4px;
	font-size: 0.95em;
}

.wordmarkWindows_a934d8.wordmark_a934d8 svg {
	display: none;
}
.wordmarkWindows_a934d8.wordmark_a934d8:before {
	content: "Redesign";
	font-weight: 700;
}
.wordmarkWindows_a934d8.wordmark_a934d8:after {
	content: "Discord";
}
.winButton_a934d8 {
	height: var(--titlebar-height);
	top: 0;
}
.winButton_a934d8:before {
	position: absolute;
	content: " ";
	width: 12px;
	height: 12px;
	background-position: center;
	-webkit-mask-size: contain;
	mask-size: contain;
	filter: brightness(40%);
	z-index: 2;
	opacity: 0;
	transition: var(--default-time) var(--default-animation);
	pointer-events: none;
}
.winButton_a934d8:hover:before {
	opacity: 1;
}
.winButton_a934d8:after {
	position: absolute;
	content: " ";
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: var(--window-button);
	transition: var(--default-time) var(--default-animation);
	pointer-events: none;
}

.typeWindows_a934d8 .winButton_a934d8:active:after {
  	opacity: 0.65;
}
.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(2):hover:after {
  	background-color: var(--window-max);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(2):before {
  	background-color: var(--window-max);
  	-webkit-mask-image: url(https://berzec.github.io/icons/redesign-discord-icons/window-max.svg);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(1):hover:after {
  	background-color: var(--window-min);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(1):before {
  	background-color: var(--window-min);
  	-webkit-mask-image: url(https://berzec.github.io/icons/redesign-discord-icons/window-min.svg);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonClose_a934d8:hover:after {
  	background-color: var(--window-close);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonClose_a934d8:before {
  	background-color: var(--window-close);
  	-webkit-mask-image: url(https://berzec.github.io/icons/redesign-discord-icons/window-close.svg);
  	align-items: end;
}
.typeWindows_a934d8 .winButton_a934d8:hover, .typeWindows_a934d8 .winButton_a934d8:active {
  	background-color: transparent;
}
.typeWindows_a934d8 .winButton_a934d8 svg {
  	display: none;
}

html:not(.app-focused) .typeWindows_a934d8 .winButton_a934d8:after {
  	background-color: var(--window-button-inactive);
}
html:not(.app-focused) .typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:after {
  	background-color: var(--window-button-inactive);
}






/* OTHER FIXES MISC idk */

/* remove random line that was above chat */
.content_a7d72e::before {
    display: none;
}
/* remove random line inside chat header */
.children_fc4f04::after {
    display: none;
}
/* remove random lines in friends list */
.tabBody_c2739c::before {
	display: none;
}
/* remove dm list search shadow */
.searchBar_f0963d {
    box-shadow: none;
}
.anchor_af404b /* hide help */ {
	display: none;
}
.peopleListItem_d51464 /* friends member list border fix */ {
	border: none;
}
