/**
 * @name Redesign Discord Beta
 * @description Discord, redesigned (beta version)
 * @author Berzec
 * @version 4
 *
 * @website https://github.com/Berzec
 * @invite 5W2kGk6Ku2
*/


/* NOTICE - please use dark mode, light mode is wonky */



/*------------------------------------------------------------
CURRENT CHANGELOG FOR VERSION 3

code revamp 

------------------------------------------------------------
TO DO LIST FOR VERSION 3

light mode

------------------------------------------------------------*/



/* roots and variables, change if you wanna */
:root {
	/* font, dont change unless you wanna */
	--font: 'gg sans';

	/* the original, holy, reference blue */
  	--original-blue: rgba(86, 128, 212, 0.8);

	/* amount of spacing and padding */
	--spacing: 15px;
	--spacing-medium: 8px;
	--spacing-small: 5px;

  	/* round corner standard */ 
	--radius: 15px;
	--radius-medium: 8px;
	--radius-small: 5px;
	--circle: 100%;

	/* color of links and unread dividers and some indicators */
	--accent-1: #5680d4;
	/* color of accented buttons */
	--accent-2: rgba(255, 255, 255,0.1);
	/* color of accented buttons when hovered and clicked */
	--accent-3: rgba(255, 255, 255,0.2);
	/* color of mentions and messages that mention you */
	--mention: rgba(100, 150, 250, 0.1);
	/* color of replying message */
	--reply: rgba(150, 175, 255, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: rgba(100, 150, 250, 0.2);
  	/* color of specific buttons */
  	--accent-x: rgba(86, 128, 212, 0.8);

	/* color of bright text */
	--text-light: #e0e0e0;
	/* color of icon buttons and channels */
	--text-lightgrey: rgba(200, 200, 200, 0.9);
	/* color of muted channels/chats and timestamps */
	--text-grey: rgba(150, 150, 150, 0.9);
	/* color of text on bright background */
	--text-dark: rgba(30, 50, 100, 0.9);

	/* color of dark buttons when clicked */
	--bg-1: rgba(34, 38, 46, 1);
	/* color of dark buttons */
	--bg-2: rgba(34, 38, 46, 1);
	/* background color bottom (dark) */
	--bg-3: #131313;
	/* background color top (light) */
	--bg-4: #1a1a1a;
	/* background color top top (lighter) */
	--bg-5: #252525;
	/* color of channels and icon buttons when hovered */
	--hover: rgba(40, 40, 40, 0.9);
	/* color of channels and icon buttons when clicked or selected */
	--active: rgba(100, 150, 250, 0.1);
	/* color of messages when hovered */
	--message-hover: rgba(255, 255, 255, 0.06);
	/* color of replying message when hovered */
	--reply-hover: rgba(100, 150, 250, 0.2);
	/* color of switches when clicked */
	--active-switch: rgba(86, 128, 212, 0.8);

	/* window control stuff */
	--titlebar-height: calc(var(--spacing) + 14px);

	--window-title-bar: var(--titlebar-height);

	--window-min: #ffbd44;
	--window-max: #00ca4e;
	--window-close: #ff605c;

	/* no idea what this is but you need it */
	--default-animation: cubic-bezier(0.4,0,0.2,1);
	--default-time: 250ms;
	--window-button: hsl(0,0%,100%,0.1);
	--window-button-inactive: hsl(0,0%,100%,0.05);

}

.theme-dark { 
	--scrollbar-auto-thumb: var(--bg-5);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-5);
	--scrollbar-thin-track: transparent;


	--background-primary: var(--bg-3);
	--background-secondary: var(--bg-3);
	--background-tertiary: var(--bg-3);
	--background-secondary-alt: var(--bg-3);
	
	--bg-overlay-1: var(--bg-4);
	--bg-overlay-2: var(--bg-4);
	--bg-overlay-3: var(--bg-4);

	--channeltextarea-background: var(--bg-5);

	--button-filled-brand-background: var(--original-blue);
	--green-430: var(--original-blue);
	--status-danger: var(--original-blue);

	--custom-notice-background: var(--original-blue);
}

.theme-light {
	--scrollbar-auto-thumb: var(--bg-5);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--bg-5);
	--scrollbar-thin-track: transparent;

	--button-filled-brand-background: var(--original-blue);
	--green-430: var(--original-blue);
	--status-danger: var(--original-blue);

	--custom-notice-background: var(--original-blue);
}



/* CORNER ROUNDING */
.itemsContainer_ef3116, .footer__214dc /* server list */,
.privateChannels__35e86 /* dm list */,
.container__37e49 /* account panel */,
.title_f75fb0.container__9293f /* dm title bar */
{
    border-radius: var(--radius) !important;
}








/* SPACING AND MARGINS */

/* server list fixes */
.wrapper_ef3116.guilds_c48ade /* server list */ 
{
	margin: var(--spacing);
	margin-top: 0;
}
.scroller_ef3116.scrollerBase_d125d2 /* server list dm top padding */ {
	padding-top: calc(var(--spacing) - 5px);
}
.footer__214dc /* footer */ {
	margin-top: var(--spacing-medium);
}
.gradient__214dc {
	height: 12px;
}
.footer__214dc .listItem__650eb {
	padding-bottom: var(--spacing-small);
}

/* dm and channel list fixes */
.privateChannels__35e86 /* dm list */
{
	margin-bottom: var(--spacing);
}
.panels_c48ade /* account panel */ 
{ 
	margin-bottom: var(--spacing);
}
.subtitleContainer_f75fb0 /* dm title bar */
{
	margin-right: var(--spacing);
	margin-bottom: var(--spacing);
}

/* chat */
.outer_c0bea0 /* dm panel */
{
	margin-right: var(--spacing);
	margin-bottom: var(--spacing);
}
.chat_f75fb0 
{
	margin-left: var(--spacing);
	margin-bottom: var(--spacing);
}







/* COLORS */
.itemsContainer_ef3116, .footer__214dc,
.privateChannels__35e86, .scroller__99e7c.scrollerBase__99f8c {
	background-color: var(--bg-4);
}






/* hovers */








/* TITLEBAR */

.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(2):before {
  	background-color: var(--window-max);
  	-webkit-mask-image: url(https://berzec.github.io/icons/redesign-discord-icons/window-max.svg);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(1):hover:after {
  	background-color: var(--window-min);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonMinMax_a934d8:nth-last-of-type(1):before {
  	background-color: var(--window-min);
  	-webkit-mask-image: url(https://berzec.github.io/icons/redesign-discord-icons/window-min.svg);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonClose_a934d8:hover:after {
  	background-color: var(--window-close);
}
.typeWindows_a934d8 .winButton_a934d8.winButtonClose_a934d8:before {
  	background-color: var(--window-close);
  	-webkit-mask-image: url(https://berzec.github.io/icons/redesign-discord-icons/window-close.svg);
  	align-items: end;
}










/* SETTINGS */


/* BORDER RADIUS */

/* COLOR */





/* OTHER FIXES MISC idk */
